<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <!--  C:\Inetpub\oia_data_vd\FIPE2.O\FIPE 2.0 Avinash\Database\FIPE.accdb -->
    <add name="ConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:/Inetpub/oia_data_vd/FacultyProfile/Database/FacultyProfile.accdb" providerName="System.Data.OleDb"/>
    <add name="ConnectionString2" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:/Inetpub/oia_data_vd/FacultyProfile/Database/FacultyProfile.accdb" providerName="System.Data.OleDb"/>
    <add name="ConnectionString3" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:/Inetpub/oia_data_vd/FacultyProfile/Database/FacultyProfile.accdb" providerName="System.Data.OleDb"/>
    <add name="ConnectionString4" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:/Inetpub/oia_data_vd/FacultyProfile/Database/FacultyProfile.accdb" providerName="System.Data.OleDb"/>
    <add name="ConnectionString5" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:/Inetpub/oia_data_vd/FacultyProfile/Database/FacultyProfile.accdb" providerName="System.Data.OleDb"/>
  </connectionStrings>
  <appSettings/>
  <system.web>
    <pages maintainScrollPositionOnPostBack="true">
      <namespaces/>
    </pages>
    <compilation debug="true">
      <assemblies>
        <!--  <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" /> 
       <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        
        -->
        <!--    <add assembly="Microsoft.Office.Interop.Word, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71E9BCE111E9429C"/> -->
        <!--  <add assembly="System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />-->
      </assemblies>
    </compilation>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>